@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
     /* border: 3px solid red;           */
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
 
  
  
  nav{
   
    background-color: rgb(22, 21, 25);
    max-width: 100%; 
    min-height: 7em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  
  #logo{
    max-width: 7%;
    max-height: 100%;
  
    position: relative;
    left: 45%;
    background-image: cover;

  }
  
  nav ul{
    float: right;
    margin-right: 3%;
    margin-top: 1%;
  }
  nav ul li{
    display: inline-block;
    line-height: 3em;
    /* margin:0 2%; */
   
    margin: 0 5px;

  }
  nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 10%;
    
  }
  nav ul li:hover{
    background-color: #1E90FF;
    transition: 0.5s;
  }
  /* header1 */
  .header1{
    background: linear-gradient(121deg, 
    rgba(22,21,25,1) 8%, 
    rgba(22,21,25,1) 50%, rgba(12,45,80,1) 100%);
    min-height: 70%;
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
     padding: 4%;
    align-items: center;
    color: white;
    gap: 4%;
  }
  
  .header1 h1{
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 2%;
  }
  .container1{
    max-width: 50%;
    min-height: 60%;
  }
  

.container1 p{
    font-size: 24px;
    margin-bottom: 2%;
   
  }
 
  .header1 img{
   
   opacity: 0.5s;
   margin-left: 10%;
   max-width: 30%;
   min-height: 40%;
  
  

  }
  button{
    max-width: 50%;
    min-height: 2.5em;
    background-color: #1E90FF;
    border: 2px solid #051094;
    margin-top: 2%;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 2%;
  

  }
button a{
  color: white;
}


  button:hover{
    background-color:  #051094;
    color: white;
  }
  
    

/* muscle txt */
 .section1{
    background-color: white;
    color: black;
    display: flex;
    min-height: 74%;
    max-width: 100%;

    
    
    
   
  }
  .section1 img{
    min-height: 47em;
    /* height: 42em; */
    width: 45em;
  }

  .section1 h2{
    font-size: 32px;
    padding-bottom: 2%;
    
  }
  .muscle-txt h3{
    font-size: 24px;
  }

  .muscle-txt{
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 2%;
    box-sizing: border-box;
  }
  .muscle-txt p {
    padding-bottom: 2%;
    font-size: 18px;
  }
  .muscle ul li{
    padding-bottom: 1%;
    list-style-type: none;

  }
  /* muscle myths */
  
  .section2 .row2{
   
    background-color: rgb(102, 109, 154);
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27em, 2fr)); 
   
    grid-gap: 5%;
    grid-auto-flow: dense;
    direction: rtl;  
    
  }
  #p1{
    padding-bottom: 2%;
    font-size: 18px;
  }
  .section2 img{
    min-height: 50em;
    width: 53em;
    max-width: 100%;
    display: block;
    line-height: 0;
    

  }
  .section2 h2{
    font-size: 32px;
    padding-bottom: 2%;
  }

  .container3{
    margin-top: 2%;
    margin-right: 2%;
    text-align: left;
    /* max-width: 50%;
    min-height: 200%; */
    width: 90%;
  }

  #img2{
    width: 40%;
  }
 
  .container3 h3{
    font-size: 24px;
  }
  .container3 p{ 
    font-size: 18px;
  }
  .container3 ul li{
    font-size: 18px;
    margin-bottom: 2%;
    list-style-type: none;

  }

  footer{
    color: white;
    bottom: 0;
    background-color: #161519;
    line-height:150%;
   
  }
  #img4{
    max-width: 30%;
    min-height: 20%;
    padding-bottom: 1%;
    padding-right: 2%;
    background-size: contain;
  
  
  }
  .row{
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
   
    
  
  }
  .none{
    list-style-type: none;
  }
  .col{
    flex-basis: 20%;
    padding: 2%;
    
  }
  .col h3{
    max-width: 34%;
    position: relative;
    /* padding-bottom: 10%; */
  }
  .col ul li {
    list-style-type: none;
    margin-top: 3%;
   
    
  
  }
  .col ul li a {
    color: white;
    margin-top: 2%;
  
  }

   .fa-brands{
    margin-top: 12%;
    color: #1E90FF;
    max-width: 10%;
    min-height: 10%;
    text-shadow: black;
    line-height: 10%;
    font-size: 230%;
    border-color: black;
    margin-right: 5%;
    cursor: pointer;
  }
  
 /* @media  (max-width: 550px) {
  html{
    max-width: 100%;
  }

  
  .main{
    min-height: 1200px;
  }

  .section1{
    min-height: 190%;
    display: block;
    float: left;
  }
  .section1 img {
    min-height: 0%;
    max-width: 20%;
  }
  

  .section2{
    min-height: 220%;
    display: block;
    float:left;
  }
  .section2 img{
    min-height: 0%;

  }
  .container3{
    max-width: 100%;
  }

  footer{
    display: block;
    float: left;
 }

 }    
   */
    
