@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
      /* border: 3px solid red;             */
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    margin: unset;
   
  }

  nav{
    overflow: hidden;
    background-color: rgb(22, 21, 25);
    width: 100%; 
    height: 10em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative; 
   
  }
  #logo{
     width: 9%; 
    position: absolute;
    top: 10%;
    background-image: cover;
    left: 0px;
  }
  nav #menu {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 5em;
  border: unset;
  cursor: pointer;

  }
 
  
  nav ul{
    float: right;  
    margin-right: 10%;
    margin-top: 1%;
    display: none;

   
  }
  nav ul li{
    display: inline-block;
    line-height: 3em;
    margin: 0 5px;

  }
  nav ul li a{
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    
    
  }
  nav ul :hover{
    background-color: #1E90FF;
    transition: 0.5s;
  }
 
  @media screen and (max-width:1100px){
    
    #logo{
      width: 20%;
    }
    nav ul{
      max-height: 25em;
      
     
     
    }
    nav ul{
      display: none;
      list-style-type:none;
      display: flex;
      flex-direction: column;
      position: relative;
      right: 1%;
      margin-top: 25%;
    }
    
    nav li a {
      color: white;
      /* padding: 14px 16px; */
     overflow: hidden;
      text-decoration: none;
      font-size: 17px;
      
    }
    
    /* nav a#click {
      background: black;
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
    } */
     nav #menu {
     /* visibility: visible; */
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      font-size: 5em;
      border: unset;
      cursor: pointer;
      /* display: block; */
      
    
      }
    
    nav ul a:hover {
      background-color: #1E90FF;
      color: black;
    }
    .section1{
      flex-wrap: wrap;
    }
    /* .logo{
       background-color: rgb(22, 21, 25);
      color: black;
    } */
    

    /* nav{
      
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #444;
      transition: top 1s ease;
      display: none;
      
    }
    nav  #close-menu{
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav #menu{
      display: block;
    } */
  }
  
  /* section1 */
  .section1{
    min-height: 90%;
    background: linear-gradient(121deg, 
    rgba(22,21,25,1) 8%, 
    rgba(22,21,25,1) 50%, rgba(12,45,80,1) 100%);
    min-height: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 5%;
    align-items: center;
    color: white;
    gap: 2%;
  }
  /* .section1 .container1#hero-img {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  gap: 2%;
  } */
  #hero-img{
   opacity: 0.5s;
   margin-left: 10%;
  }
  .container1{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    max-width: 80%;
    min-height: 80%;

  }
  #header1-h3{
    /*color: #151B54;*/
    color: #1E90FF;
    

  }
  #header1-h1{
    text-transform: uppercase;
    font-size: 3.3rem;
   margin-bottom: 12px;
  }
  .container1 p{
    font-size: 1.2rem;
    margin-bottom: 12px;
   
  }
  
  button{
    max-width: 50%;
    min-height: 2.5em;
    background-color: #1E90FF;
    border: 2px solid #0c2035;
    margin-top: 2%;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 2%;
  

  }
  button a{
    color: white;
  }
  button:hover{
    opacity: 1s;
    background-color: #051094;
    
  }

  /* provisions */
  .section2{
    padding: 5%;
    margin: auto;

    

  }
  .section2 h2{
    font-size: 48px;
    margin-bottom: 1%;
    color:  #051094;
    font-weight: 700;
    /* text-shadow: 0 5px 10px rgba(12,45,80,1); */
    text-shadow: 0 5px 10px rgba(12,45,80,1);

  }
  .section2 .row1 {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  gap: 2%;
  }
  .header2 p{
    color: black;
    font-weight: 300;
    padding: 1em;
  }
  .header2{
    text-align: center;
    padding: 0 2%;
    color: black;
  
  }
  .row1{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;

  }
  .col1{
    flex-basis: 31%;
    background-color: #F5F5F5;
    border-radius: 4%;
    margin-bottom: 5%;
    /* padding: 20px 12px; */
    box-sizing: border-box;
    padding: 2% 2%;
  }
  .icon{
  max-width: 5%;
  min-height: 5%;
  color: #151B54;
  background-color: #F5F5F5;
  font-size: 4em;

  }
/* sectionn3 */
.section3{
  background-color: #686d92; 
  color: black;
  text-align: center;
  padding: 0 9%;
  padding-top: 3%;
  padding-bottom: 9%;
  min-height: 90%;


}
.header3{
  text-align: center;
  padding-bottom: 3%;
  color: black;
  

}

.section3 h2{
  font-size: 48px;
  
  margin-bottom: 1%;
  color: black;
  text-shadow: 0 5px 10px rgba(12,45,80,1);
}
 .row2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  gap: 2%;
}
  .row2 .col2 { 
  box-shadow: 0 0.3em 1em rgba(12,45,80,1);
  border-radius: 5%;
  background-color: white;
  text-align: center;
  padding: 7%;
  margin-top: 1%;
}
.col2{
  margin-left: 2%;
  
 
}
 .row2 .col2 .icons{
  min-height: 25%;

} 
/* errorr */
.section3 .row2 .col2 h3{
  color: #444;
  font-size: 22px;
  padding: 5% 0;
}
.section3 .row2 .col2 p{
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}
/* erroe u[p */
.btn{
  margin-top: 4%;
  display: inline-block;
  background: black;
  color: white;
  border-radius: 5%;
  padding: 2% 3%;
}
.icons{
  max-width: 5%;
  min-height: 5%;
  color: #151B54;
  font-size: 4em;

}
/* testimonials */

.testimonials{
 
  padding: 6% 0;
  background-color: #caced1;
  color: black;
  text-align: center;
}
.row3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  .col3{
 /* display: grid;
 grid-template-columns: repeat(auto-fit, minmax(2em, 1fr)); 
 grid-template-columns: auto auto auto; */
/* width: 20%;
align-items: center;
padding: 10px; */

} 
/* @media screen and (max-width:960px){
 .inner{
  
  width: 70%; 
  display: flex;
  flex-direction: column;
     

 }
} */
.testimonials h2{
  font-size: 48px;
  
  margin-bottom: 1%;
  color: #051094;
  text-shadow: 0 5px 10px rgba(12,45,80,1);
}
.inner{
  
  max-width: 100%;
  /* margin: auto; */
  overflow: hidden;
  /* padding: 0 20px; */
  padding: 0 10%;
  
}
.line{
  max-width: 10em;
  min-height: 1em;
  background-color: black;
  /* margin: 26px auto; */
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;

}
 .row3{
  display: flex;
  flex-wrap: wrap; 
   justify-content: center;
   justify-content: space-between;
  


} 
.col3{
 
  flex-basis: 26%; 
  /* flex: 40%; */
  max-width: 50%;
  /* padding: 1em; */
  align-items: center;
  padding: 10px;
  justify-content: space-between;

}
.testimonial{
  background-color: #fff;
  padding: 2%;
  width: 100%;

}

.testimonial img{
  max-width: 8em;
  min-height: 9em;
  border-radius: 50%;
  display: block;
  margin: auto;
}
 #M{
  max-width: 10em;
  max-height: 5em;
  border-radius: 50%;

}
.name{
  font-size: 20px;
  text-transform: uppercase;
   /* margin: 20px 0;  */
   margin: 5% 0;
 

}
.stars{
  color: rgb(224, 172, 0);
  margin-bottom: 5%;
  min-height: 10%;

}

/* good */
.Good{
  background: url(../images/gymm.png);
  background-position: center;
  background-size: cover;
  color: black;
  text-align: center;
  padding: 5%;

}
.Good h2{
  font-size: 48px;
  margin-bottom: 1%;
 
  padding: 0;
}
.Good p{
  font-size: 32px;
}
.Good-header{
  margin-top: 2%;
  padding: 1%;

}
#Good-button{
  /* max-width: 40%;
  
  
  font-size: 24px;
  text-transform: uppercase;
  box-shadow: rgb(82, 75, 75);
  display: inline-block; */
  margin-top: 4%;
  text-transform: uppercase;
  display: inline-block;
  background-color: #1E90FF;
  color: white;
  border-radius: 5%;
  padding: 2% 3%;
 
cursor: pointer;
text-align: center;
}
#Good-button a{
  color: white;
}
#Good-button:hover{
  background-color: #191970;
  border: none;
}
footer{
  color: white;
  bottom: 0;
  background-color: #161519;
  line-height:140%;
  position: relative;
  
 
}
/* #img4{
  max-width: 30%;
  min-height: 20%;
  padding-bottom: 1%;
  padding-right: 2%;
  background-size: contain;
} */
#img4{
  min-height: 10%;
  max-width: 30%;
  

}
.row p{
  width: 100%;
}
/* .row{
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
} */
.row{
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  grid-gap: 2px;
}
@media (max-width: 760px){
  footer .row{
    grid-template-columns: repeat(1,1fr);
  }
  #Good-button{
    max-width: 30%;
    text-align: left;
    font-size: 18px;
  }
  .testimonial img{
    max-width: 6em;
    min-height: 6em;
    border-radius: 50%;
    display: block;
    margin: auto;
  }

}
.none{
  list-style-type: none;
}
.col{
  /* flex-basis: 10%; */
  
  padding: 5%;
  
}
.col h3{
  max-width: 34%;
  position: relative;
  /* padding-bottom: 10%; */
}
.col ul li {
  list-style-type: none;
  margin-top: 3%;
 
  

}
.col ul li a {
  color: white;
  margin-top: 2%;

}

.social{
  margin-top: 4%;
  /* padding-right: 8%; */
  
 
}
.co{
  margin-top: 3%;
 position: relative;
}



.social a{
 
  display: inline-block;
 background-color: black;
  color: #1E90FF;
   width: 40px;
  height: 40px; 
  margin: 0 10px 10px 0;
  font-size: 30px;
  line-height: 40px;
  border-color: black;
  transition: all 0.5s ease; 
  text-align: center;
  cursor: pointer;
   border-radius: 50%; 
}
.social a:hover{
  color: #000431;
  background-color: #021CA4;
}





